<template lang="pug">
div
  Homepage
  .text-center(:style="$vuetify.breakpoint.xsOnly? 'height: 50px;' : 'height: 150px;'")
    v-img.mx-auto(
      :src="require('@/assets/circle-shape-outline.png')" 
      :width="$vuetify.breakpoint.xsOnly? 20 : 40"
      style="transform: translateY(-50%);"
      )
  ProjectsSection
  .text-center(style="height: 50px;")
  ContactSection
</template>

<script>
import Homepage from "@/components/Homepage"
import ProjectsSection from "@/components/ProjectsSection"
import ContactSection from "@/components/ContactSection"

export default {
  components: {
    Homepage,
    ProjectsSection,
    ContactSection
  }
}
</script>