<template lang="pug">
  div(v-if="project")  
    
    ProjectToolbar(
      type="large" 
      :project="project" 
      :projects="projects" 
      @visibilityChanged="resizeToolbar"
      )
      template(v-slot:tabs)
        v-tabs(v-model="tab" align-with-title background-color='transparent' slider-size=4)
          v-tab Overview
          v-tab(v-if="project && project.improvements.length") Improvements
    
    ProjectToolbar(
      v-if="reduced" 
      type="small" 
      :project="project" 
      :projects="projects" 
      @visibilityChanged="resizeToolbar"
      )
      template(v-slot:tabs)
        v-tabs(v-model="tab" align-with-title background-color='transparent' slider-size=4 color="#F8A978")
          v-tab Overview
          v-tab(v-if="project && project.improvements.length") Improvements

    v-tabs-items#ctnr(v-model="tab" style="background-color: transparent;")
      //- Overview
      v-tab-item
        v-container(fluid)
          v-row(justify="center")
            v-col(cols=12 sm=9 md=7 lg=6 xl=5  :class="{'pa-3': $vuetify.breakpoint.xsOnly, 'pa-9': $vuetify.breakpoint.smAndUp, 'pa-12': $vuetify.breakpoint.lgAndUp}")
              v-card(elevation=0 tile color="transparent")
                UnderlineTitle.mb-2(
                  text="Description"
                  color="beige"
                  :class="{'body-2': $vuetify.breakpoint.xsOnly, 'subtitle-1': $vuetify.breakpoint.smAndUp}"
                  )
                p(:class="{'subtitle-1': $vuetify.breakpoint.xsOnly, 'title font-weight-regular': $vuetify.breakpoint.smAndUp}") 
                  | {{ project.description }}
              v-card.mt-12(elevation=0 tile color="transparent")
                UnderlineTitle.mb-2(
                  text="The problem(s)"
                  color="beige"
                  :class="{'body-2': $vuetify.breakpoint.xsOnly, 'subtitle-1': $vuetify.breakpoint.smAndUp}"
                  )
                p(:class="{'subtitle-1': $vuetify.breakpoint.xsOnly, 'title font-weight-regular': $vuetify.breakpoint.smAndUp}")
                  | {{ project.problem }}
              v-card.mt-12(elevation=0 tile color="transparent")
                UnderlineTitle.mb-3(
                  text="Technologies"
                  color="beige"
                  :class="{'body-2': $vuetify.breakpoint.xsOnly, 'subtitle-1': $vuetify.breakpoint.smAndUp}"
                  )
                v-chip.mr-2.mb-2(label outlined v-for="(item, index) in project.technologies" :key="index") 
                  | {{ item }}

      //- Improvements
      v-tab-item
        v-container(fluid)
          v-row(justify="center")
            v-col(cols=12 sm=9 md=7 lg=6 xl=5  :class="{'pa-3': $vuetify.breakpoint.xsOnly, 'pa-9': $vuetify.breakpoint.smAndUp, 'pa-12': $vuetify.breakpoint.lgAndUp}")
              ul
                li(v-for="(improv, index) in project.improvements" :key="index" :class="{'subtitle-1': $vuetify.breakpoint.xsOnly, 'title font-weight-regular': $vuetify.breakpoint.smAndUp}")
                  | {{ improv }}
</template>

<script>
import ProjectToolbar from "@/components/ProjectToolbar"
import UnderlineTitle from "@/components/UnderlineTitle"

import { getProject, getProjects } from '@/projectsAPI'

export default {
  components: { ProjectToolbar, UnderlineTitle },
  data() {
    return {
      reduced: false,
      isIntersecting: true,
      project: null,
      tab: 0,
      projects: []
    }
  },
  created() {
    this.projects = getProjects(["id", "name"])
    this.getProjectOrRedirect()
  },
  computed: {
    projectId() {
      return this.$route.params.id
    }
  },
  watch: {
    projectId() {
      this.getProjectOrRedirect()
    }
  },
  methods: {
    resizeToolbar (isIntersecting) {
      this.reduced = !isIntersecting
    },

    getProjectOrRedirect() {
      this.project = getProject(this.projectId)
      if (!this.project) this.$router.push("/projects")
    }
  }
}
</script>