<template lang="pug">
  div
    UnderlineTitle.display-3.my-12(text="Contact" color="green" :centered="true")
    v-container.pt-12.cntr(fluid)
      v-row(justify="center" align="center")
        v-col.text-center(cols=12 sm=10 md=8 lg=6 xl=4)
          .display-1.mb-3 Let's connect!
          p.mx-auto(
            :style="$vuetify.breakpoint.xsOnly? 'max-width: 291px;' : 'max-width: 340px;'" 
            :class="{'subtitle-1': $vuetify.breakpoint.xsOnly, 'title font-weight-regular': $vuetify.breakpoint.smAndUp}"
            )
            | Feel free to reach out if you have any questions, feedback, or just want to say hi :)
          
          .py-12
            v-btn.ma-2(outlined x-large width=250 tile color="#000" href="https://gitlab.com/Issaf" target="_blank")
              | gitlab
            v-btn.ma-2(outlined x-large width=250 tile color="#000" href="https://www.linkedin.com/in/islamsafsaf" target="_blank")
              | linkedin
    v-footer(:absolute="$vuetify.breakpoint.smAndUp" color="#dfdfdf" height=65)
      v-spacer
      .text-center Copyright &copy; {{ new Date().getFullYear() }} Issafworks.co. All rights reserved. 
      v-spacer
</template>

<script>
import UnderlineTitle from "@/components/UnderlineTitle"

export default {
  components: {
    UnderlineTitle
  },
  data() {
    return {
    }
  },
  created() {
  },
  methods: {

  }
}
</script>

<style scoped>
  a {
      text-decoration: none;
      color: unset;
  }

  .cntr {
    min-height: calc(100vh - 156px);
  }
</style>