<template lang="pug">
  .bg(:class="{'bg-desktop': $vuetify.breakpoint.mdAndUp, 'bg-mobile': $vuetify.breakpoint.smAndDown}")
    v-row.mx-0.mb-12(justify="center" :align="$vuetify.breakpoint.smAndDown? 'start' : 'center'" style="height: 100%;")
      v-col.px-2(cols=12 sm=11 md=10 lg=9)
        transition(name="custom")
          div.text-center(v-show="showHeader" :class="{'mx-auto': $vuetify.breakpoint.smAndDown}" style="width: fit-content;")
            .hdr.font-weight-bold(:class="{'display-4': $vuetify.breakpoint.mdAndUp, 'mt-4 display-1': $vuetify.breakpoint.smAndDown}")
              | Think simple
            .mt-3.hdr.font-weight-bold(:class="{'display-4': $vuetify.breakpoint.mdAndUp, 'display-1': $vuetify.breakpoint.smAndDown}")
              | Build with purpose.
            p.mx-auto.headline(:class="{'headline p-desktop': $vuetify.breakpoint.mdAndUp, 'body-1 p-mobile': $vuetify.breakpoint.smAndDown}")
              | My philosophy and goal is to build simple, intuitive, and innovative products by leveraging the power of internet, software, and data. Here is a minimalist portfolio with some of my projects. Welcome!

</template>

<script>
export default {
  data() {
    return {
      showHeader: false,
    }
  },
  created() {
    setTimeout(() => {
        this.showHeader = true
    }, 100)
  }
}
</script>

<style scoped>
  .bg {
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 400px;
  }

  .bg-desktop {
    background-image: url("../assets/bg-desktop.jpg");
  }

  .bg-mobile {
    background-image: url("../assets/bg-mobile.jpg");
  }

  .hdr {
    font-family: 'Playfair Display', serif !important;
  }

  .p-mobile {
    margin-top: 10vh;
    width: 289px;
    text-align: justify;
  }

  .p-desktop {
    margin-top: 70px;
    width: 780px;
    text-align: justify;
  }

  .custom-enter, .custom-leave-to {
    opacity: 0;
    transform: translateY(10%);
  }

  .custom-enter-active, .custom-leave-active {
    will-change: opacity, transform;
    transition: opacity .9s cubic-bezier(0.4, 0, 0.2, 1),transform .9s cubic-bezier(0.4, 0, 0.2, 1);
  }
</style>