<template lang="pug">
v-expand-transition
  v-app-bar( 
    :dark="!isSmall" 
    :prominent="!isSmall"
    :height="isSmall? undefined : 250"
    :src="isSmall? undefined : imgUrl"
    :fixed="isSmall"
    color='#fff'
    )
    template(v-slot:img='{ props }')
      v-img(v-bind='props' position="0% 59%" gradient='to top right, rgba(0,0,0,.50), rgba(0,0,0,.30)')
    v-app-bar-nav-icon
      v-btn(icon to="/")
        v-icon mdi-arrow-left
    v-toolbar-title(v-intersect="onIntersect" style="cursor: pointer;")
      v-menu(offset-y transition="slide-y-transition")
        template(v-slot:activator="{ on }")
          span(v-on="on" style="width: 100%;") 
            .font-weight-medium.d-inline-block {{ project.name }}
            v-icon.ml-1.d-inline-block mdi-chevron-down
        v-list
          v-list-item(
            v-for="item in projects"
            :key="item.id"
            :to="{name: 'Project', params: {id: item.id}}"
            )
            | {{ item.name }}
    v-spacer
    v-btn(icon v-if="project.repoUrl"  :href="project.repoUrl" target="_blank")
      v-icon mdi-xml
    v-btn(icon v-if="project.url" :href="project.url" target="_blank")
      v-icon mdi-open-in-new
    template(v-slot:extension)
      slot(name="tabs")


</template>

<script>
export default {
  props: ["project", "projects", "type"],
  computed: {
    isSmall() {
      return this.type === "small"
    },
    imgUrl() {
      if (!this.project) return
      else return require("@/assets/" + this.project.imgUrl)
    }
  },
  methods: {
    onIntersect (entries) {
      if (!this.isSmall) this.$emit("visibilityChanged", entries[0].isIntersecting)
    },
  }
}
</script>