<template lang="pug">
  div
    UnderlineTitle.display-3.my-12(text="Projects" color="orange" :centered="true")
    v-container.py-0(fluid :class="{'px-0': $vuetify.breakpoint.xsOnly}")
      v-row(v-if="$vuetify.breakpoint.smAndUp")
        v-col.pa-0(cols=12 sm=6 lg=4 v-for="project in projects" :key="project.id" :to="{name: 'Project', params: {id: project.id}}")
          router-link(:to="{name: 'Project', params: {id: project.id}}")
            v-hover(v-slot:default="{ hover }")
              v-img(
                :src="img(project.imgUrl)" 
                :class="{'desktop-ctnr': $vuetify.breakpoint.smAndUp, 'mobile-ctnr': $vuetify.breakpoint.xsOnly}"
                )
                v-expand-transition
                  div(
                    v-if="!hover || $vuetify.breakpoint.xsOnly"
                    class="d-flex transition-fast-in-fast-out v-card--reveal"
                    style="height: 100%; background-color: #dfdfdf"
                    )
                    v-row(align="center" style="height: 100%;")
                      v-col
                        .display-1.font-weight-medium.text-center {{ project.name }}
                        .caption.text-center {{ project.category.toUpperCase() }}

                v-row(align="center" style="height: 100%;")
                  v-col.white--text
                    .display-1.font-weight-medium.text-center {{ project.name }}
                    .caption.text-center {{ project.category.toUpperCase() }}

      v-carousel.mobile-ctnr(v-if="$vuetify.breakpoint.xsOnly" :show-arrows="false" hide-delimiter-background delimiter-icon="mdi-square-small")
        v-carousel-item.mobile-ctnr(v-for="project in projects" :key="project.id")
          router-link(:to="{name: 'Project', params: {id: project.id}}")
            v-img.mobile-ctnr(:src="img(project.imgUrl)" gradient="to top right, rgba(0,0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,0)")
              v-row(align="center" style="height: 100%;")
                v-col.white--text
                  .display-1.font-weight-medium.text-center {{ project.name }}
                  .caption.text-center {{ project.category.toUpperCase() }}
</template>

<script>
import UnderlineTitle from "@/components/UnderlineTitle"
import { getProjects } from "@/projectsAPI"

export default {
  components: {
    UnderlineTitle
  },
  data() {
    return {
      projects: [],
    }
  },
  created() {
    this.projects = getProjects(["id", "name", "category", "imgUrl"])
  },
  methods: {
    img(imgUrl) {
      return require("@/assets/" + imgUrl)
    },
  }
}
</script>

<style scoped>
  a {
      text-decoration: none;
      color: unset !important;
  }

  .desktop-ctnr {
    height: calc((100vh - 156px)/2); 
  }

  .mobile-ctnr, >>> .v-carousel__item {
    height: calc(100vh - 156px) !important; 
  }
</style>