<template lang="pug">
  v-container(fluid).pa-0
    #title(:class="options") {{ text }}
</template>

<script>
export default {
  props: ["text", "color", "centered"],
  computed: {
    options() {
      let classes = this.color + "-ul"
      if (this.centered) classes += ' mx-auto'
      return classes
    }
  }
}
</script>

<style scoped>
  #title {
    width: fit-content;
    font-family: 'Playfair Display', serif !important;
  }

  .orange-ul {
    background-image: linear-gradient(0deg,#FFC5A1 50%,transparent 50%);
  }

  .green-ul {
    background-image: linear-gradient(0deg,#BADFDB 50%,transparent 50%);
  }

  .beige-ul {
    background-image: linear-gradient(0deg,#FCF9EA 50%,transparent 50%);
  }
</style>